Repository git-gurus-itu-devops/itu-minitwit: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, hadolint, rubocop, vagrant_validate

actionlint:
  tags: gha style
  run: actionlint

hadolint:
  tags: dockerfile style
  run: hadolint Dockerfile*

rubocop:
  tags: ruby style
  run: bundle exec rubocop --parallel

vagrant_validate:
  tags: vagrant style
  run: vagrant validate

playwright update (#67)
  e2e/Dockerfile-e2e
  package.json
Due: none

Track head of report
  .gitmodules
Due: none

Momentarily remove report
  .gitmodules
Due: none

Add report submodule
  .gitmodules
Due: none

Adds workflow to synchronize report automatically
  .github/workflows/sync-submodules.yml
Due: actionlint

Adds CI_Token
  .github/workflows/sync-submodules.yml
Due: actionlint

Ignore deploy on push to report
  .github/workflows/deploy-prod.yml
Due: actionlint

fix sonar issues
  .sonarcloud.properties
  playwright.config.ts
  refactored_minitwit_tests.py
  simapi/sim_api.rb
  views/timeline.erb
Due: rubocop

one more fix
  refactored_minitwit_tests.py
Due: none

change to 3 replicas
  remote_files/docker-compose.yml
Due: none

Add initial Terraform setup
  .github/workflows/deploy-prod.yml
  .infrastructure/README.md
  .infrastructure/backend.tf
  .infrastructure/bootstrap.sh
  .infrastructure/ip.tf
  .infrastructure/minitwit.auto.tfvars
  .infrastructure/minitwit_swarm_cluster.tf
  .infrastructure/provider.tf
  .infrastructure/scripts/gen_load_balancer_config.sh
  .infrastructure/scripts/load_balancer_template.conf
  .infrastructure/scripts/scp_load_balancer_config.sh
  .infrastructure/secrets_template
  .infrastructure/ssh_key.tf
  .infrastructure/stack/deploy.sh
  .infrastructure/stack/minitwit_stack.yml
  .infrastructure/temp/.gitkeep
Due: actionlint

Include correct NGINX setup, add certbot
  .infrastructure/scripts/gen_load_balancer_config.sh
  .infrastructure/scripts/load_balancer_template.conf
  .infrastructure/scripts/scp_load_balancer_config.sh
  .infrastructure/stack/minitwit_stack.yml
Due: none

Attempt installing NR agent and copy deploy script
  .infrastructure/bootstrap.sh
  .infrastructure/minitwit_swarm_cluster.tf
  .infrastructure/stack/deploy.sh
  .infrastructure/stack/minitwit_stack.yml
Due: none

Remove loadbalancer and certbot
  .infrastructure/stack/minitwit_stack.yml
Due: none

Remove file provisioning, add "bare-metal" NGINX
  .infrastructure/bootstrap.sh
  .infrastructure/minitwit_swarm_cluster.tf
Due: none

Include submodule
  .github/workflows/automatic-release.yml
Due: actionlint

Change to HTTPS in submodule
  .gitmodules
Due: none

Recursive submodule pulling
  .github/workflows/automatic-release.yml
  .gitmodules
Due: actionlint

Generate and upload zip of report
  .github/workflows/automatic-release.yml
Due: actionlint

Add ID
  .github/workflows/automatic-release.yml
Due: actionlint

Fetch gravatar using https
  models/user.rb
Due: rubocop

Path conditions:
  actionlint: any of: .github/**/*.yml
  hadolint: any of: Dockerfile*
  rubocop: any of: *.rb
  vagrant_validate: any of: Vagrantfile
