Repository git-gurus-itu-devops/itu-minitwit: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, hadolint, rubocop, vagrant_validate

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
  parallel: true
  commands:
    actionlint:
      tags: gha style
      glob: ".github/**/*.yml"
      run: actionlint
    hadolint:
      tags: dockerfile style
      glob: "Dockerfile*"
      run: hadolint Dockerfile*
    rubocop:
      tags: ruby style
      glob: "*.rb"
      run: bundle exec rubocop --parallel
    vagrant_validate:
      tags: vagrant style
      glob: "Vagrantfile"
      run: vagrant validate

Remove unneeded parentheses
  myapp.rb
Due: rubocop

Revert find by change
  simapi/sim_api.rb
Due: rubocop

Add install links
  README.md
Due: none

remove test files
  .sonarcloud.properties
Due: none

exclude e2e
  .sonarcloud.properties
Due: none

include e2e in test
  .sonarcloud.properties
Due: none

revert
  .sonarcloud.properties
Due: none

Upload artifacts after e2e test run
  .github/workflows/automatic-testing.yml
Due: actionlint

Fix yaml syntax in automatic testing
  .github/workflows/automatic-testing.yml
Due: actionlint

Remove if cancelled check
  .github/workflows/automatic-testing.yml
Due: actionlint

Mount playwright-report volume
  docker-compose-e2e-test.yaml
Due: none

Add registration with non matching passwords test
  e2e/register.ts
Due: none

Remove comments from sonarcloud config
  .sonarcloud.properties
Due: none

Maybe continue on error?
  .github/workflows/automatic-testing.yml
Due: actionlint

Only upload report on failed e2e test
  .github/workflows/automatic-testing.yml
Due: actionlint

No longer fail register test on purpose
  e2e/register.ts
Due: none

Add some indexes to speed up queries
  db/migrate/20240409214346_add_index_to_followers.rb
  db/migrate/20240409215306_add_index_to_flagged.rb
  db/migrate/20240409222738_add_index_to_created_at.rb
  db/schema.rb
Due: rubocop

Change created_at index to descending order
  db/migrate/20240409222738_add_index_to_created_at.rb
  db/schema.rb
Due: rubocop

Fix type
  e2e/register.ts
Due: none

Add index to username
  db/migrate/20240412083347_add_index_to_username.rb
Due: rubocop

Add latest table
  db/migrate/20240405114933_add_latest_table.rb
Due: rubocop

Set and get latest in db instead of file
  db/schema.rb
  models/latest.rb
  simapi/sim_api.rb
Due: rubocop

Insert when missing
  myapp.rb
Due: rubocop

Require models using each
  myapp.rb
  simapi/sim_api.rb
Due: rubocop

Handle missing latest case better
  simapi/sim_api.rb
Due: rubocop

docker swarm
  .github/workflows/deploy-prod.yml
  remote_files/deploy.sh
  remote_files/docker-compose.yml
Due: actionlint

docker swarm 2
  remote_files/docker-compose.yml
Due: none

docker swarm 3
  remote_files/docker-compose.yml
Due: none

docker swarm 4
  remote_files/docker-compose.yml
Due: none

working wuhu
  .github/workflows/deploy-prod.yml
Due: actionlint

changing color
  static/style.css
Due: none

docker swarm run
  .github/workflows/deploy-prod.yml
Due: actionlint

ready
  .github/workflows/deploy-prod.yml
  static/style.css
Due: actionlint

color
  static/style.css
Due: none

3 replicas
  remote_files/docker-compose.yml
Due: none

whitespacce
  remote_files/docker-compose.yml
Due: none

Docker swarm (#64)
  .github/workflows/deploy-prod.yml
  remote_files/deploy.sh
  remote_files/docker-compose.yml
Due: actionlint

Enable YJIT in containers
  remote_files/docker-compose.yml
Due: none

playwright update
  package.json
Due: none

change ubuntu version to jammy for e2e
  e2e/Dockerfile-e2e
Due: none
